.text-input {
  position: relative;
  
  .label {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
  }

  input {
    border: 1px solid grey;
    padding: 6px  8px;
    width: 100%;
    border-radius: 4px;
  }

  input:focus {
    outline: none;
  }
}