.login {
  display: flex;
  flex-direction: row;
  font-family: 'Inter';
  height: 100vh;

  .form-container {
    flex-basis: 50%;

    .logo {
      text-align: center;
      margin-top: 15%;
      font-size: 40px;
      color: black;
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      .bitezy {
        font-size: 60px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        font-family: "Inter Bold";
      }

      .bitezy-logo {
          img {
            height: 120px;
          }
      }
    }

    .f-holder {
      margin-top: 4%;
      display: flex;
      justify-content: center; /* Centers horizontally */         

      form {
        position: relative;
        width: 50%;
        
        .text-input {
          margin-bottom: 12px;
          position: relative;

          .label {
            text-align: left;
            font-size: 14px;
            line-height: 24px;
          }

          input {
            border: 1px solid grey;
            padding: 10px  8px;
            width: 100%;
            border-radius: 10px;
            color: #9C9C9C;
          }

          input:focus {
            outline: none;
            border: 1px solid #029CDD;
          }
        }

        .submit-container {
          margin-bottom: 12px;

          .submit {
            border: none;
            background: #029CDD;
            padding: 10px;
            color: white;
            font-family: 'Inter Bold';
            border-radius: 6px;
            font-size: 16px;
            margin-top: 12px;
            cursor: pointer;
            width: 100%;
          }

          .submit:hover {
            opacity: 0.75;
          }

        }
      }

      .forgot-password {
        font-family: "inter";
        
        span {
          color: #029CDD;
          margin-left: 2px;
          text-decoration: underline;
          cursor: pointer;
        }

        span:hover {
          opacity: 0.8;
        }

      }

    }

    .error-container {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      animation: anim 1s ease-out;
      
      div {
        width: max-content;
        background-color: rgba(255, 0, 0, 0.05);
        padding: 6px 12px;
        color: red;
        border: 1px solid red;
        border-radius: 6px;
      }
    }
  }

  

  .rhs {
    flex-basis: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 
}
 @keyframes anim {
  from {opacity: 0;}
}