.app {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .logo {
    text-align: center;
    height: max-content;
    width: max-content;
    margin-top: 8%;

    img {
      width: 40vw;
      height: auto;
    }
  }
}