.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-items: center;

  .logo {
    text-align: center;
    height: max-content;
    width: max-content;

    img {
      width: 40vw;
      height: auto;
    }
  }
}