:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400
}


body {
  margin: 0;
  background-color: darkgray;
}

.card {
  border: 1px solid grey;
  width: max-content;
  height: max-content;
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  background-color: white;
}


